{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sous Chef Chat</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
</head>
<body>
    <div class="menu">
        <button class="menu-btn">&#9776;</button>
        <div class="menu-content">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
    <div class="container">
        <div class="chat-container">
            <div class="chat-box" id="chat-box">
                {% for message in previous_messages reversed %}
                    <div class="chat-message {{ message.role }}">
                        {{ message.content|linebreaksbr }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="chat-input-container">
            <textarea id="chat-input" class="chat-input" placeholder="Type your message..." data-url="{% url 'ask-assistant' %}"></textarea>
            <button id="send-btn" class="send-btn">&#8593;</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'js/chat.js' %}"></script>
</body>
</html>
